<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ultra Hühnergame</title>

  <!-- Add Vue to the Project -->
  <script src="https://unpkg.com/vue"></script>

  <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Polyfill for old and stupid browsers *cough* IE *cough* -->
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

</head>

<body>
  <div id="app">
    <b-card-group deck>
      <b-card style="max-width: 20rem;"><template v-slot:header>Eier<p></p><p><small>Woher kommen sie eigentlich?</small></p></template>
        <b-layout fluid>
          <b-row>
            <b-col>
              {{ score }} {{ score === 1n ? "Ei" : "Eier"}}
            </b-col>
            <b-col cols="4">
              <b-button @click="addManual" variant="primary">+ {{ buttonValue }}</b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
            <b-card v-if="flour.allow" style="max-width:25rem;">
        <template v-slot:header>

          Backstube
          <span class="float-right">Geld: {{money}}</span><p></p><p><small>Tausche Eier gegen Zutaten und verkaufe die gebackenen Waren für Geld</small></p>
        </template>
        <b-layout fluid>
          <b-row>
            <b-col>
            </b-col>
            <b-col cols="5">
              <b-button @click="buyFlour" variant="primary" :disabled="score < flour.price">{{ flour.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div>{{sugar.count}} {{"Zucker "}}<img src="https://s12.directupload.net/images/200609/57mqmihy.png" width="20"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="buySugar" variant="primary" class="mt-2" :disabled="score < sugar.price">{{ sugar.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div>{{butter.count}} {{"Butter "}}<img src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" width="20"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="buyButter" variant="primary" class="mt-2" :disabled="score < butter.price">{{ butter.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div title="Sablés backen und verkaufen">{{sables.count}} {{"Sablés "}}<img src="https://s12.directupload.net/images/200609/hh4agm23.png" width="20"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeSables" variant="primary" class="mt-2" :disabled="flour.count < sables.flour || sugar.count < sables.sugar || butter.count < sables.butter" title="3 Mehl, 1 Zucker, 2 Butter">3<img src="https://cdn2.iconfinder.com/data/icons/bakery-color/200/23-512.png" width="20"> 1<img src="https://s12.directupload.net/images/200609/57mqmihy.png" width="20"> 2<img src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" width="20">
              </b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
      <b-card v-if="chicken.allow" style="max-width: 20rem;"><template v-slot:header>Hühner<p></p><p><small>Kaufe eierlegende Hühner und verbessere sie</small></p></template>
        <b-layout fluid>
          <b-row>
            <b-col>
              <div>{{ chicken.count }} {{ chicken.count === 1 ? "Huhn" : "Hühner"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="buyChicken" variant="primary" :disabled="money < chicken.price">{{ chicken.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="chicken.allowImprovements">
            <b-col>
              Verbessere Hühner
            </b-col>
            <b-col cols="4">
              <b-button @click="improveChicken" variant="primary" class="mt-2" :disabled="money < chicken.improvmentprice">
                {{ chicken.improvmentprice }}
              </b-button>
            </b-col>
          </b-row>
                 </b-layout>
      </b-card>
      <b-card v-if="apprentice.allow" style="max-width: 20rem;"><template v-slot:header>Personal<p></p><p><small>Immer nützlich...</small></p></template>
        <b-layout fluid>
          <b-row>
            <b-col>
              <div title="hilft in der Backstube">{{ apprentice.count }} {{ apprentice.count === 1 ? "Lehrling" : "Lehrlinge"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireApprentice" variant="primary" :disabled="money < apprentice.price">{{ apprentice.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div title="sorgt dafür, dass die Hühner mehr Eier legen... fragt sich nur wie">{{ animalKeep.count }} Tierflüsterer</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireAnimalKeep" variant="primary" class="mt-2" :disabled="money < animalKeep.price">{{ animalKeep.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div title="entdeckt bessere Rezepte">{{ alchemist.count }} {{ alchemist.count === 1 ? "Alchemist" : "Alchemisten"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireAlchemist" variant="primary" class="mt-2" :disabled="money < alchemist.price || alchemist.count > 0">{{ alchemist.price }}
              </b-button>
            </b-col>
          </b-row>
                 </b-layout>
      </b-card>
    </b-card-group>
    <!-- DEBUG
      <pre>
        {{ $data }}
      </pre>
    -->
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        score: 0n,
        money: 0n,
        increment: 0.00,
        buttonValue: 1,
        chicken: {
          count: 0,
          price: 100,
          improvmentprice: 400,
          allow: false,
          allowImprovements: false,
          production: {
            strength: 1,
            stepsRequired: 1000,
            stepsDone: 0
          }
        },
        flour: {
          count: 0,
          price: 5,
          allow: false,
        },
        sugar: {
          count: 0,
          price: 5,
        },
        butter: {
          count: 0,
          price: 10,
        },
        sables: {
          count:0,
          butter: 2,
          sugar: 1,
          flour: 3,
        
        },
        apprentice: {
          count:0,
          price:300,
          allow:false,
          production: {
            strength: 1,
            stepsRequired: 1000,
            stepsDone: 0
          }
        },
        animalKeep: {
          count:0,
          price:400,
        
        },
        alchemist: {
          count:0,
          price:500,
          allow:true,
        }
      },
      created: function () {
        BigInt.prototype.toJSON = function () { return this.toString() }
        setInterval(() => {
          this.update()
        }, 10)
      },
      methods: {
        update: function () {
          this.chicken.production.stepsDone += this.chicken.count * this.chicken.production.strength
          if (this.chicken.production.stepsDone >= this.chicken.production.stepsRequired) {
            this.score += BigInt(this.chicken.production.strength)
            this.chicken.production.stepsDone = 0
          }
          this.apprentice.production.stepsDone += this.apprentice.count * this.apprentice.production.strength
          if (this.apprentice.production.stepsDone >= this.apprentice.production.stepsRequired) {
            this.money += BigInt(this.apprentice.production.strength)
            this.apprentice.production.stepsDone = 0
          }
         
               if (!this.chicken.allow && this.money >= BigInt(50)){
                this.chicken.allow = true
                
          }
         
               if (!this.apprentice.allow && this.money>= BigInt(300)){
              this.apprentice.allow = true
               
          }
        },
        addManual: function () {
          this.score += BigInt(this.buttonValue)
          
          if (this.score == BigInt(5)){
            this.flour.allow = true
          }
        },
        buyChicken: function () {
          if (this.money >= this.chicken.price) {
            this.money -= BigInt(this.chicken.price)
            this.chicken.count++
            this.chicken.price = Math.ceil(this.chicken.price * 1.2)
            if (this.chicken.count == 5) {
              this.chicken.allowImprovements = true
            }
          }
        },
        improveChicken: function () {
          if (this.money >= this.chicken.improvmentprice) {
            this.money -= BigInt(this.chicken.improvmentprice)
            this.chicken.production.stepsRequired = Math.floor(this.chicken.production.stepsRequired * 0.95)
            this.chicken.improvmentprice = Math.ceil(this.chicken.improvmentprice * 1.5)
          }
        },
        buyFlour: function () {
          this.score -=BigInt(this.flour.price)
          this.flour.count++
        },
        buySugar: function(){
          this.score -=BigInt(this.sugar.price)
          this.sugar.count++
        },
        buyButter: function(){
          this.score -=BigInt(this.butter.price)
          this.butter.count++
        },
        makeSables: function(){
          this.money += BigInt(20)
          this.butter.count -=2
          this.sugar.count -=1
          this.flour.count -=3
        },
        hireApprentice: function(){
          this.money -= BigInt(300)
          this.apprentice.count++
          this.apprentice.price = Math.ceil(this.apprentice.price * 1.2)
        },
        hireAnimalKeep: function(){
          this.money -= BigInt(400)
          this.animalKeep.count++
          this.animalKeep.price = Math.ceil(this.animalKeep.price * 1.2)
          this.chicken.production.stepsRequired = Math.floor(this.chicken.production.stepsRequired * 0.95)
                  },
        hireAlchemist: function(){
          this.money -= BigInt(500)
          this.alchemist.count++
          this.alchemist.allow = false
        }
      }
    })
  </script>
</body>

</html>