<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ultra Hühnergame</title>

  <!-- Add Vue to the Project -->
  <script src="https://unpkg.com/vue"></script>

  <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Polyfill for old and stupid browsers *cough* IE *cough* -->
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

</head>

<body>
  <div id="app">
    <b-card-group deck>
      <b-card style="max-width: 20rem;" header="Eier">
        <b-layout fluid>
          <b-row>
            <b-col>
              {{ score }} {{ score === 1n ? "Ei" : "Eier"}}
            </b-col>
            <b-col cols="4">
              <b-button @click="addManual" variant="primary">+ {{ buttonValue }}</b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
      <b-card v-if="chicken.allow" style="max-width: 20rem;" header="Hühner">
        <b-layout fluid>
          <b-row>
            <b-col>
              <div>{{ chicken.count }} {{ chicken.count === 1 ? "Huhn" : "Hühner"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="buyChicken" variant="primary" :disabled="score < chicken.price">{{ chicken.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="chicken.allowImprovements">
            <b-col>
              Verbessere Hühner
            </b-col>
            <b-col cols="4">
              <b-button @click="improveChicken" variant="primary" class="mt-2" :disabled="score < chicken.improvmentprice">
                {{ chicken.improvmentprice }}
              </b-button>
            </b-col>
          </b-row>
                 </b-layout>
      </b-card>
      <b-card v-if="flour.allow" style="max-width:20rem;">
        <template v-slot:header>

          Backstube
          <span class="float-right">Geld: {{money}}</span>
        </template>
        <b-layout fluid>
          <b-row>
            <b-col>
              <div>{{flour.count}} {{"Mehl"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="buyFlour" variant="primary" :disabled="score < flour.price">{{ flour.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div>{{sugar.count}} {{"Zucker"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="buySugar" variant="primary" :disabled="score < sugar.price">{{ sugar.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div>{{butter.count}} {{"Butter"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="buyButter" variant="primary" :disabled="score < butter.price">{{ butter.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div>{{sables.count}} {{"Sablés"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="makeSables" variant="primary" :disabled="flour.count < sables.flour || sugar.count < sables.sugar || butter.count < sables.butter">{{ flour.price }}
              </b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
    </b-card-group>
    <!-- DEBUG
      <pre>
        {{ $data }}
      </pre>
    -->
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        score: 0n,
        money: 0,
        increment: 0.00,
        buttonValue: 1,
        chicken: {
          count: 0,
          price: 100,
          improvmentprice: 400,
          allow: false,
          allowImprovements: false,
          production: {
            strength: 1,
            stepsRequired: 1000,
            stepsDone: 0
          }
        },
        flour: {
          count: 0,
          price: 5,
          allow: false,
        },
        sugar: {
          count: 0,
          price: 5,
        },
        butter: {
          count: 0,
          price: 10,
        },
        sables: {
          count:0,
          butter: 2,
          sugar: 1,
          flour: 3,
        
        }
      },
      created: function () {
        BigInt.prototype.toJSON = function () { return this.toString() }
        setInterval(() => {
          this.update()
        }, 10)
      },
      methods: {
        update: function () {
          this.chicken.production.stepsDone += this.chicken.count * this.chicken.production.strength
          if (this.chicken.production.stepsDone >= this.chicken.production.stepsRequired) {
            this.score += BigInt(this.chicken.production.strength)
            this.chicken.production.stepsDone = 0
          }
        },
        addManual: function () {
          this.score += BigInt(this.buttonValue)
          if (this.money >= BigInt(50)) {
            this.chicken.allow = true
          }
          if (this.score == BigInt(5)){
            this.flour.allow = true
          }
        },
        buyChicken: function () {
          if (this.score >= this.chicken.price) {
            this.score -= BigInt(this.chicken.price)
            this.chicken.count++
            this.chicken.price = Math.ceil(this.chicken.price * 1.2)
            if (this.chicken.count == 5) {
              this.chicken.allowImprovements = true
            }
          }
        },
        improveChicken: function () {
          if (this.score >= this.chicken.improvmentprice) {
            this.score -= BigInt(this.chicken.improvmentprice)
            this.chicken.production.stepsRequired = Math.floor(this.chicken.production.stepsRequired * 0.95)
            this.chicken.improvmentprice = Math.ceil(this.chicken.improvmentprice * 1.5)
          }
        },
        buyFlour: function () {
          this.score -=BigInt(this.flour.price)
          this.flour.count++
        },
        buySugar: function(){
          this.score -=BigInt(this.sugar.price)
          this.sugar.count++
        },
        buyButter: function(){
          this.score -=BigInt(this.butter.price)
          this.butter.count++
        },
        makeSables: function(){
          this.money += 20
          this.butter.count -=2
          this.sugar.count -=1
          this.flour.count -=3
        }
      }
    })
  </script>
</body>

</html>