<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ZUltra Hühnergame</title>

  <!-- Add Vue to the Project -->
  <script src="https://unpkg.com/vue"></script>

  <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Polyfill for old and stupid browsers *cough* IE *cough* -->
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

</head>

<body>
  <div id="app">
    <b-card-group deck>
      <b-card style="max-width: 20rem;"><template v-slot:header>Eier<p></p><p><small>Woher kommen sie eigentlich?</small></p></template>
        <b-layout fluid>
          <b-row>
            <b-col>
              {{ score }} {{ score === 1n ? "Ei " : "Eier "}}<img
                src="https://s12.directupload.net/images/200610/dzy5y4gv.png" height="15">
            </b-col>
            <b-col cols="4">
              <b-button @click="addManual" variant="primary">+ {{ buttonValue }}</b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>

      <b-card v-if="flour.allow" style="max-width:25rem;">
        <template v-slot:header>

          Backstube
          <span class="float-right">Geld: {{money}}</span>
          <p></p>
          <p><small>Tausche Eier gegen Zutaten und verkaufe die gebackenen Waren für Geld</small></p>

        </template>
        <b-layout fluid>
          <b-row>
            <b-col>

              <div>{{flour.count}} {{"Mehl "}}<img
                  src="https://cdn2.iconfinder.com/data/icons/bakery-color/200/23-512.png" height="15"></div>

            </b-col>
            <b-col cols="5">
              <b-button @click="buyFlour" variant="primary" :disabled="score < flour.price">{{ flour.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>

              <div>{{sugar.count}} {{"Zucker "}}<img src="https://s12.directupload.net/images/200609/57mqmihy.png"
                  height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="buySugar" variant="primary" class="mt-2" :disabled="score < sugar.price">
                {{ sugar.price }}

              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>

              <div>{{butter.count}} {{"Butter "}}<img
                  src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="buyButter" variant="primary" class="mt-2" :disabled="score < butter.price">
                {{ butter.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="apples.allow">
            <b-col>
              <div>{{apples.count}} {{score === 1n ? "Apfel " : "Äpfel "}}<img
                  src="https://s12.directupload.net/images/200610/pndyh9ie.png" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="buyApples" variant="primary" class="mt-2" :disabled="score < apples.price">
                {{ apples.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="milk.allow">
            <b-col>
              <div>{{milk.count}} {{"Milch "}}<img src="https://s12.directupload.net/images/200610/lil9sxqw.png"
                  height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="buyMilk" variant="primary" class="mt-2" :disabled="score < milk.price">{{ milk.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="apfelstrudel.allow">
            <b-col>
              <div title="Apfelstrudel backen und verkaufen">{{"Apfelstrudel "}}<img
                  src="https://comps.gograph.com/ggb/88115090" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeApfelstrudel" variant="primary" class="mt-2"
                :disabled="flour.count < apfelstrudel.flour || apples.count < apfelstrudel.apples || butter.count < apfelstrudel.butter"
                title="2 Mehl, 2 Äpfel, 1 Butter">2<img
                  src="https://cdn2.iconfinder.com/data/icons/bakery-color/200/23-512.png" height="15"> 2<img
                  src="https://s12.directupload.net/images/200610/pndyh9ie.png" height="15"> 1<img
                  src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" height="15">
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="bread.allow">
            <b-col>
              <div title="Brot backen und verkaufen">{{"Brot "}}<img
                  src="https://cdn0.iconfinder.com/data/icons/bakery-filled-color/300/91516644Untitled-3-512.png"
                  height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeBread" variant="primary" class="mt-2" :disabled="flour.count < bread.flour"
                title="1 Mehl">1<img src="https://cdn2.iconfinder.com/data/icons/bakery-color/200/23-512.png"
                  height="15">
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="eggsalad.allow">
            <b-col>
              <div title="Eiersalat zubereiten und verkaufen">{{"Eiersalat "}}<img
                  src="https://s12.directupload.net/images/200610/jzni28n6.jpg" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeEggsalad" variant="primary" class="mt-2"
                :disabled="score < eggsalad.price || butter.count < eggsalad.butter" title="10 Eier, 1 Butter">10<img
                  src="https://s12.directupload.net/images/200610/dzy5y4gv.png" height="15"> 1<img
                  src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" height="15">
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="boiledEggs.allow">
            <b-col>
              <div title="Eier kochen und verkaufen">{{"gekochte Eier "}}<img
                  src="https://s12.directupload.net/images/200610/wejd4z9l.png" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeBoiledEggs" variant="primary" class="mt-2" :disabled="score < boiledEggs.price"
                title="5 Eier">5<img src="https://s12.directupload.net/images/200610/dzy5y4gv.png" height="15">
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="eggnog.allow">
            <b-col>
              <div title="Eggnog zubereiten und verkaufen">{{"Eggnog "}}<img
                  src="https://s12.directupload.net/images/200612/7ix88x2b.png" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeEggnog" variant="primary" class="mt-2" :disabled="score < eggnog.price"
                title="1 Ei">5<img src="https://s12.directupload.net/images/200610/dzy5y4gv.png" height="15">
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="omelette.allow">
            <b-col>
              <div title="Omelettes zubereiten und verkaufen">{{"Omelettes "}}<img
                  src="https://s12.directupload.net/images/200610/287g64s8.png" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeOmelettes" variant="primary" class="mt-2"
                :disabled="score < omelette.price || milk.count < omelette.milk || butter.count < omelette.butter"
                title="8 Eier, 1 Milch, 1 Butter">8<img src="https://s12.directupload.net/images/200610/dzy5y4gv.png"
                  height="15"> 1<img src="https://s12.directupload.net/images/200610/lil9sxqw.png" height="15"> 1<img
                  src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" height="15">
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="scrambled.allow">
            <b-col>
              <div title="Rührei zubereiten und verkaufen">{{"Rührei "}}<img
                  src="https://s12.directupload.net/images/200610/2fzebtgy.png" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeScrambled" variant="primary" class="mt-2"
                :disabled="score < scrambled.price || milk.count < scrambled.milk || butter.count < scrambled.butter"
                title="8 Eier, 1 Milch, 1 Butter">8<img src="https://s12.directupload.net/images/200610/dzy5y4gv.png"
                  height="15"> 1<img src="https://s12.directupload.net/images/200610/lil9sxqw.png" height="15"> 1<img
                  src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" height="15">

              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>

              <div title="Sablés backen und verkaufen">{{"Sablés "}}<img
                  src="https://s12.directupload.net/images/200609/hh4agm23.png" height="15"></div>
            </b-col>
            <b-col cols="5">
              <b-button @click="makeSables" variant="primary" class="mt-2"
                :disabled="flour.count < sables.flour || sugar.count < sables.sugar || butter.count < sables.butter"
                title="3 Mehl, 1 Zucker, 2 Butter">3<img
                  src="https://cdn2.iconfinder.com/data/icons/bakery-color/200/23-512.png" height="15"> 1<img
                  src="https://s12.directupload.net/images/200609/57mqmihy.png" height="15"> 2<img
                  src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F9C8-butter-512.png" height="15">

              </b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>

      <b-card v-if="chicken.allow" style="max-width: 20rem;"><template v-slot:header>Hühner<p></p>
          <p><small>Kaufe eierlegende Hühner und verbessere sie</small></p>
        </template>

        <b-layout fluid>
          <b-row>
            <b-col>
              <div>{{ chicken.count }} {{ chicken.count === 1 ? "Huhn" : "Hühner"}}<img
                  src="https://s12.directupload.net/images/200610/88b8fr4x.png" height="15"></div>
            </b-col>
            <b-col cols="4">
              <b-button @click="buyChicken" variant="primary" :disabled="money < chicken.price">{{ chicken.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="chicken.allowImprovements">
            <b-col>
              Verbessere Hühner
            </b-col>
            <b-col cols="4">

              <b-button @click="improveChicken" variant="primary" class="mt-2"
                :disabled="score < chicken.improvmentprice">

                {{ chicken.improvmentprice }}
              </b-button>
            </b-col>
          </b-row>
                 </b-layout>
      </b-card>
      <b-card v-if="apprentice.allow" style="max-width: 20rem;"><template v-slot:header>Personal<p></p><p><small>Immer nützlich...</small></p></template>
        <b-layout fluid>
          <b-row>
            <b-col>
              <div title="hilft in der Backstube">{{ apprentice.count }} {{ apprentice.count === 1 ? "Lehrling" : "Lehrlinge"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireApprentice" variant="primary" :disabled="money < apprentice.price">{{ apprentice.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div title="sorgt dafür, dass die Hühner mehr Eier legen... fragt sich nur wie">{{ animalKeep.count }} Tierflüsterer</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireAnimalKeep" variant="primary" class="mt-2" :disabled="money < animalKeep.price">{{ animalKeep.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div title="entdeckt bessere Rezepte">{{ alchemist.count }} {{ alchemist.count === 1 ? "Alchemist" : "Alchemisten"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireAlchemist" variant="primary" class="mt-2" :disabled="money < alchemist.price || alchemist.count > 0">{{ alchemist.price }}
              </b-button>
            </b-col>
          </b-row>
                 </b-layout>
      </b-card>
      <b-card v-if="apprentice.allow" style="max-width: 20rem;"><template v-slot:header>Personal<p></p>
          <p><small>Immer nützlich...</small></p>
        </template>
        <b-layout fluid>
          <b-row>
            <b-col>
              <div title="hilft in der Backstube">{{ apprentice.count }}
                {{ apprentice.count === 1 ? "Lehrling" : "Lehrlinge"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireApprentice" variant="primary" :disabled="money < apprentice.price">
                {{ apprentice.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div title="sorgt dafür, dass die Hühner mehr Eier legen... fragt sich nur wie">{{ animalKeep.count }}
                Tierflüsterer</div>
            </b-col>
            <b-col cols="4">
              <b-button @click="hireAnimalKeep" variant="primary" class="mt-2" :disabled="money < animalKeep.price">
                {{ animalKeep.price }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div title="entdeckt bessere Rezepte">{{ alchemist.count }}
                {{ alchemist.count === 1 ? "Alchemist" : "Alchemisten"}}</div>
            </b-col>
            <b-col cols="4">
              <b-button id="alchButton" @click="hireAlchemist" variant="primary" class="mt-2"
                :disabled="money < alchemist.price || alchemist.count > 0">{{ alchemist.price }}
              </b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
    </b-card-group>
    <!-- DEBUG
      <pre>
        {{ $data }}
      </pre>
    -->
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        score: 0n,
        money: 0n,
        increment: 0.00,
        buttonValue: 1,
        chicken: {
          count: 0,
          price: 100,
          improvmentprice: 400,
          allow: false,
          allowImprovements: false,
          production: {
            strength: 1,
            stepsRequired: 1000,
            stepsDone: 0
          }
        },
        flour: {
          count: 0,
          price: 5,
          allow: false,
        },
        sugar: {
          count: 0,
          price: 5,
        },
        butter: {
          count: 0,
          price: 10,
        },

        milk: {
          count: 0,
          price: 10,
          allow: false,
        },
        apples: {
          count: 0,
          price: 2,
          allow: false,
        },
        sables: {
          count: 0,
          butter: 2,
          sugar: 1,
          flour: 3,
          value: 20,

        },
        apprentice: {
          count: 0,
          price: 300,
          allow: false,

          production: {
            strength: 1,
            stepsRequired: 1000,
            stepsDone: 0
          }
        },
        animalKeep: {

          count: 0,
          price: 400,

        },
        alchemist: {
          count: 0,
          price: 500,
          allow: true,
          recipes: [
            "bread", "omelette", "apfelstrudel", "eggsalad", "scrambled", "boiledEggs", "demon", "explosion", "eggnog"
          ]
        },
        recipes: {
          bread: {
            flour: 1,
            value: 2,
            allow: false,

          },
          omelette: {
            price: 8,
            milk: 1,
            butter: 1,
            value: 20,
            allow: false,

          },
          apfelstrudel: {
            flour: 2,
            apples: 2,
            butter: 1,
            value: 30,
            allow: false,

          },
          eggsalad: {
            price: 10,
            butter: 1,
            value: 5,
            allow: false,

          },
          scrambled: {
            price: 8,
            milk: 1,
            butter: 1,
            value: 10,
            allow: false,

          },
          boiledEggs: {
            price: 5,
            value: 1,
            allow: false,
          },
          demon: {

          },
          explosion: {
          },
          eggnog: {
            allow: false,
            price: 1,
            value: 5,
          }

        }
      },
      created: function () {
        BigInt.prototype.toJSON = function () { return this.toString() }
        setInterval(() => {
          this.update()
        }, 10)
      },
      methods: {
        doIt: function (what) {
          switch (what) {
            case "eggnog":
              window.confirm("Dein Alchemist ist bei einem Versuch auf Eierlikör gestossen. Ein sehr lukratives Geschäft, aber wenn du von der Polizei erwischt wirst, könnte es schwerwiegende Konsequenzen geben. Möchtest du das Getränk trotzdem produzieren?")
              break
            case "demon":
              alert("Dein Alchemist hat unglücklicherweise einen menschenfressenden Dämon beschworen. Vielleicht war er nicht ganz der Richtige für den Job.")
              this.alchemist.count--
              elem = document.getElementById("alchButton")
              elem.value = "500"
              this.alchemist.allow = true
              break
            case "explosion":
              alert("Dein Alchemist hat sich bei einer Explosion selbst verletzt und wird für kurze Zeit ausser Gefecht gesetzt sein.")
              money -= BigInt(50)
              break
            case "boiledEggs":
              this.boiledEggs.allow = true
              break
            case "scrambled":
              this.scrambled.allow = true
              this.milk.allow = true
              break
            case "eggsalad":
              this.eggsalad.allow = true
              break
            case "apfelstrudel":
              this.apfelstrudel.allow = true
              this.apples.allow = true
              break
            case "omelette":
              this.omelette.allow = true
              this.milk.allow = true
              break
            case "bread":
              this.bread.allow = true
              break
          }
        },
        update: function () {
          this.chicken.production.stepsDone += this.chicken.count * this.chicken.production.strength
          if (this.chicken.production.stepsDone >= this.chicken.production.stepsRequired) {
            this.score += BigInt(this.chicken.production.strength)
            this.chicken.production.stepsDone = 0
          }
          this.apprentice.production.stepsDone += this.apprentice.count * this.apprentice.production.strength
          if (this.apprentice.production.stepsDone >= this.apprentice.production.stepsRequired) {
            this.money += BigInt(this.apprentice.production.strength)
            this.apprentice.production.stepsDone = 0
          }
         
               if (!this.chicken.allow && this.money >= BigInt(50)){
                this.chicken.allow = true
                
          }
         
               if (!this.apprentice.allow && this.money>= BigInt(300)){
              this.apprentice.allow = true
               
          }
        },
        addManual: function () {
          this.score += BigInt(this.buttonValue)

          if (this.score >= BigInt(5)) {

            this.flour.allow = true
          }
        },
        buyChicken: function () {
          if (this.money >= this.chicken.price) {
            this.money -= BigInt(this.chicken.price)
            this.chicken.count++
            this.chicken.price = Math.ceil(this.chicken.price * 1.2)
            if (this.chicken.count == 5) {
              this.chicken.allowImprovements = true
            }
          }
        },
        improveChicken: function () {
          if (this.money >= this.chicken.improvmentprice) {
            this.money -= BigInt(this.chicken.improvmentprice)
            this.chicken.production.stepsRequired = Math.floor(this.chicken.production.stepsRequired * 0.95)
            this.chicken.improvmentprice = Math.ceil(this.chicken.improvmentprice * 1.5)
          }
        },
        buyFlour: function () {

          this.score -= BigInt(this.flour.price)
          this.flour.count++
        },
        buySugar: function () {
          this.score -= BigInt(this.sugar.price)
          this.sugar.count++
        },
        buyButter: function () {
          this.score -= BigInt(this.butter.price)
          this.butter.count++
        },
        buyApples: function () {
          this.score -= BigInt(this.apples.price)
          this.apples.count++
        },
        buyMilk: function () {
          this.score -= BigInt(this.milk.price)
          this.milk.count++
        },
        makeSables: function () {
          this.money += BigInt(this.sables.value)
          this.butter.count -= BigInt(this.sables.butter)
          this.sugar.count -= BigInt(this.sables.sugar)
          this.flour.count -= BigInt(this.sables.flour)
          this.apples.count -= BigInt(this.sables.apples)
          this.milk.count -= BigInt(this.sables.milk)
          this.score -= BigInt(this.sables.price)
        },
        makeApfelstrudel: function () {
          this.money += BigInt(this.apfelstrudel.value)
          this.butter.count -= BigInt(this.apfelstrudel.butter)
          this.sugar.count -= BigInt(this.apfelstrudel.sugar)
          this.flour.count -= BigInt(this.apfelstrudel.flour)
          this.apples.count -= BigInt(this.apfelstrudel.apples)
          this.milk.count -= BigInt(this.apfelstrudel.milk)
          this.score -= BigInt(this.apfelstrudel.price)
        },
        makeBoiledEggs: function () {
          this.money += BigInt(this.boiledEggs.value)
          this.butter.count -= BigInt(this.boiledEggs.butter)
          this.sugar.count -= BigInt(this.boiledEggs.sugar)
          this.flour.count -= BigInt(this.boiledEggs.flour)
          this.apples.count -= BigInt(this.boiledEggs.apples)
          this.milk.count -= BigInt(this.boiledEggs.milk)
          this.score -= BigInt(this.boiledEggs.price)
        },
        makeBread: function () {
          this.money += BigInt(this.bread.value)
          this.butter.count -= BigInt(this.bread.butter)
          this.sugar.count -= BigInt(this.bread.sugar)
          this.flour.count -= BigInt(this.bread.flour)
          this.apples.count -= BigInt(this.bread.apples)
          this.milk.count -= BigInt(this.bread.milk)
          this.score -= BigInt(this.bread.price)
        },
        makeEggsalad: function () {
          this.money += BigInt(this.eggsalad.value)
          this.butter.count -= BigInt(this.eggsalad.butter)
          this.sugar.count -= BigInt(this.eggsalad.sugar)
          this.flour.count -= BigInt(this.eggsalad.flour)
          this.apples.count -= BigInt(this.eggsalad.apples)
          this.milk.count -= BigInt(this.eggsalad.milk)
          this.score -= BigInt(this.eggsalad.price)
        },
        makeOmelettes: function () {
          this.money += BigInt(this.omelette.value)
          this.butter.count -= BigInt(this.omelette.butter)
          this.sugar.count -= BigInt(this.omelette.sugar)
          this.flour.count -= BigInt(this.omelette.flour)
          this.apples.count -= BigInt(this.omelette.apples)
          this.milk.count -= BigInt(this.omelette.milk)
          this.score -= BigInt(this.omelette.price)
        },
        makeScrambled: function () {
          this.money += BigInt(this.scrambled.value)
          this.butter.count -= BigInt(this.scrambled.butter)
          this.sugar.count -= BigInt(this.scrambled.sugar)
          this.flour.count -= BigInt(this.scrambled.flour)
          this.apples.count -= BigInt(this.scrambled.apples)
          this.milk.count -= BigInt(this.scrambled.milk)
          this.score -= BigInt(this.scrambled.price)
        },
        makeEggnog: function () {
          this.money += BigInt(this.eggnog.value)
          this.score -= BigInt(this.eggnog.price)

        },
        hireApprentice: function () {

          this.money -= BigInt(300)
          this.apprentice.count++
          this.apprentice.price = Math.ceil(this.apprentice.price * 1.2)
        },

        hireAnimalKeep: function () {

          this.money -= BigInt(400)
          this.animalKeep.count++
          this.animalKeep.price = Math.ceil(this.animalKeep.price * 1.2)
          this.chicken.production.stepsRequired = Math.floor(this.chicken.production.stepsRequired * 0.95)

        },
        hireAlchemist: function () {
          var elem = document.getElementById("alchButton");
          if (elem.value == "500") {
            this.money -= BigInt(500)
            this.alchemist.count++
            elem.value = "Experimentieren"
          }
          if (elem.value == "Experimentieren") {
            this.alchemist.allow = false
            setTimeout(() => { this.alchemist.allow = true }, 600000)
            discoverRex()
          }
        },
        discoverRex: function () {
          const pick = this.alchemist.recipes[Math.floor(Math.random() * this.alchemist.recipes.length)]
          this.doIt(pick)
        },

      }

    })
  </script>
</body>

</html>